version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "yearly"
    groups:
      spring:
        patterns:
          - "*spring*"
      amazon:
        patterns:
          - "*amazon*"
          - "*amazonaws*"
          - "*aws*"
      postgresql:
        patterns:
          - "*postgresql*"
      maven:
        patterns:
          - "*maven*"
      kotlin:
        patterns:
          - "*kotlin*"
